/* globals.css */

/* globals.css */

.bg-image {
  background-image: url('/ama-dablam-mountain-climb-0155-2-J9KiT6Lei-transformed.jpeg'); 
  background-size: cover; /* Ensures the image covers the container */
  background-position: 50% 50%; /* You can adjust the percentages for fine-tuned positioning */
  background-repeat: no-repeat; /* Prevent repeating */
  background-attachment: fixed; /* Keeps the background fixed during scroll */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevents overflow */
}

/* Centering the text vertically and horizontally using Flexbox */
.container {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  position: relative;
  padding-left: 35%; /* Create a 10% offset from the left */
}
.title-text {
  color: #AB801C;
  font-family: 'Jolly Lodger', cursive;
  font-size: 300px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  /* For mobile screens */
  .container {
    justify-content: center; /* Center the text horizontally on mobile */
    padding-left: 0; /* Remove the left padding */
  }
  
  .title-text {
    font-size: 300px; /* Adjust font size for mobile */
  }
}
